{% spaceless %}
{# Format specification: https://www.rssboard.org/rss-specification #}
{% set config = config.plugins.news.feed %}

{% set flex = grav.get('flex') %}
{% set directory = flex.directory('news') %}
{% set collection = directory.getCollection() %}
{% set collection = collection.public() %}
{% set collection = collection.limit( 0, config.limit|default( config.plugins.news.news_per_page ) ) %}

{% set lastBuildDate = 0 %}
{% for item in collection %}
    {%- set lastBuildDate = max(lastBuildDate, item.date) %}
    {#
    {%- if config.show_last_modified %}
        {%- set lastBuildDate = max(feed_updated, item.modified) %}
    {%- endif %}
    {#  #}
{% endfor %}
{% endspaceless %}
<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
<channel>
    <title>{{ config.title|default( site.title ) }}</title>
    <link>{{ page.url(true) }}</link>
    <atom:link href="{{ uri.rootUrl(true)~uri.uri() }}" rel="self" type="application/rss+xml"/>
    <description>{{ config.description }}</description>
    <language>{{ html_lang }}</language>
    <lastBuildDate>{{ lastBuildDate|date('D, d M Y H:i:s O') }}</lastBuildDate>
    {% for post in collection -%}
    {% set banner = post.media[post.hero] -%}
    {% set url = page.url(true) ~ '/' ~ post.slug -%}
    <item>
        <title>{{ post.title|e }}</title>
        <link>{{ url }}</link>
        <guid>{{ url }}</guid>
        <pubDate>{{ post.zbr_date|date('D, d M Y H:i:s O') }}</pubDate>
        <description>
            <![CDATA[
            {% if banner -%}
                {% set fileObj = post.zbr_hero_image -%}
                <img src="{{ base_url_absolute ~ banner.cropZoom(960,480).quality(85).url }}" width="960" height="480" loading="lazy" alt="{{ banner.metadata.alt }}" />
            {% endif -%}
            {{ post.content|markdown|shortcodes|raw }}
            ]]>
        </description>
        {% for entry in post.tags -%}
        <category domain="{{ page.url(true) }}/tag:{{ entry }}"><![CDATA[{{ entry }}]]></category>
        {% endfor -%}
    </item>
    {% endfor -%}
</channel>
</rss>
