{% set tpl_body_classes = 't-post post' %}
{% extends 'partials/base.html.twig' %}
{% do assets.addCss('theme://dist/css/news.css', 99) %}

{% set flex = grav.get('flex') %}
{% set directory = flex.directory('news') %}
{% set post = directory.getObject(header.object) %}

{% block content %}
<div class="wrapping">
    <article class="article">
        <header class="article__header">
            <h1 class="article__title">
                {{ post.title }}
            </h1>
            <p class="article__date">
                <time class="article__datetime dt-published" datetime="{{ post.date|date("c") }}">
                    {{ post.date|localizeddate( 'long', 'none', site.default_lang ) }}
                </time>
            </p>
        </header>

        {% if post.hero is defined -%}
            {% set hero_image = post.media[post.hero] -%}

            {% set image = {
                small: hero_image.cropResize(480,null).quality(85).url,
                large: hero_image.cropResize(800,null).quality(85).url,
            } -%}

            {% if hero_image.metadata.caption -%}
            <figure class="article__visual">
            {% else -%}
            <div class="article__visual">
            {% endif -%}
            <picture class="article__picture">
                <source srcset="{{ image.small }}" media="(max-width: 479px)">
                <source srcset="{{ image.large }}" media="(min-width: 480px)">
                <img class="article__image"
                    src="{{ image.small }}"
                    width="460"
                    height="460"
                    alt="{{ hero_image.metadata.alt }}"
                    fetchpriority="high"
                    >
            </picture>
            {% if hero_image.metadata.caption -%}
                <figcaption class="article__imagecaption">
                    {{ hero_image.metadata.caption }}
                </figcaption>
            </figure>
            {% else -%}
            </div>
            {% endif -%}
        {% endif -%}

        <div class="article__content textflow">
            {{ post.content|markdown|raw }}
        </div>
    </article>
</div>

{% set collection = directory.getCollection().public() %}
{% set pager = news_postnav( collection, header.object ) %}
{% if pager -%}
<nav class="article__navigation postnav wrapping" role="navigation">
    <h2 class="vh">{{ 'PLUGIN_NEWS.POST_NAV'|t|e }}</h1>
    <div class="postnav__list">
        {% if pager.newerPost %}
        <a class="postnav__link" href="{{ pager.newerPost.url }}" rel="prev">
            <span class="postnav__label">{{ 'PLUGIN_NEWS.NEXT_POST'|t|e }}<span class="vh">:</span></span>
            {{ pager.newerPost.title }}
        </a>
        {% endif %}
        {% if pager.olderPost %}
        <a class="postnav__link" href="{{ pager.olderPost.url }}" rel="next">
            <span class="postnav__label">{{ 'PLUGIN_NEWS.PREV_POST'|t|e }}<span class="vh">:</span></span>
            {{ pager.olderPost.title }}
        </a>
        {% endif %}
    </div>
</nav>
{% endif %}
{% endblock %}