{% set url = parent ~ '/' ~ object.slug -%}
{% set lang = grav.language.getActive|default( grav.language.getDefault ) -%}
<article class="news">
    <header class="news__header">
        <h2 class="news__title">
            <a class="news__titleLink" href="{{ url }}">
                {{ object.title }}
            </a>
        </h2>
        <p class="news__date">
            <time class="news__datetime dt-published" datetime="{{ object.date|date("c") }}">
                {{ object.date|localizeddate( 'long', 'none', lang ) }}
            </time>
        </p>
    </header>

    {% if object.hero is defined -%}
        <figure class="news__visual">
            {% set hero_image = object.media[object.hero] -%}
            {% set image = {
                small: hero_image.cropZoom(480,240).quality(85).url,
                medium: hero_image.cropZoom(800,400).quality(85).url,
                large: hero_image.cropZoom(960,480).quality(85).url,
            } -%}
            <picture class="news__picture">
                <source srcset="{{ image.small }}" media="(max-width: 479px)">
                <source srcset="{{ image.large }}" media="(min-width: 480px)">
                <source srcset="{{ image.medium }}" media="(min-width: 800px)">
                <img class="news__image"
                    src="{{ image.small }}"
                    width="480"
                    height="240"
                    alt="{{ hero_image.metadata.alt }}"
                    loading="lazy"
                    >
            </picture>
            {% if hero_image.metadata.caption or object.hero_source -%}
                <figcaption class="news__imagecaption">
                    {{ hero_image.metadata.caption }}
                    {{ object.hero_source }}
                </figcaption>
            {% endif -%}
        </figure>
    {% endif -%}

    <div class="news__excerpt textflow">
        {% if object.excerpt %}
            {{ object.excerpt|markdown|raw }}
        {% else %}
            {{ object.content|truncate(400, true)|markdown|striptags('<p><strong><em>')|raw }}
        {% endif %}

        <p>
            <a class="news__action" href="{{ url }}" tabindex="-1">
                {{ 'PLUGIN_NEWS.CONTINUE_READING'|t }}
            </a>
        </p>
    </div>

</article>